<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>{{ page.title }} - AppReliance Documentation</title>
		<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
		<link rel="stylesheet" href="/css/font-awesome.css" type="text/css" />
		<link rel="stylesheet" href="/css/site.css" type="text/css" />
		<link href="/css/prettify.css" type="text/css" rel="stylesheet" />
		<script type="text/javascript" src="/js/prettify.js"></script>
	</head>
	<body onload="prettyPrint()">
		<div id="contentcontainer">
       <div class="header">
         <div class="headerinner">
           <div id="floatcontainer">
             <h1>AppReliance Documentation</h1>
           </div>
         </div>
       </div>
       <div id="maincontent">
           <div class="container-fluid">
               <div class="row-fluid">
                   <div class="span2">
<nav>
<ul class="nav nav-list">
<li class="nav-header">Project Links</li>
  <li><a href="http://appreliance.codeplex.com" title="View the Codeplex project site for AppReliance">Codeplex</a></li>
  <li><a href="http://www.dhgms.com/projects/appreliance" title="View the DHGMS Solutions project site for AppReliance">DHGMS Solutions</a></li>
  <!--<li><a href="http://www.dpvreony.co.uk/portfolio/project/v/24/" title="View the DPVreony portfolio details on WSUS Smart Approve">DPVreony</a></li>-->
  <li><a href="https://github.com/DHGMS-Solutions/appreliance" title="View the Github project site for AppReliance">Github</a></li>
  <li><a href="http://www.ohloh.net/p/appreliance?ref=gitpages" title="View the ohloh project site for AppReliance">ohloh</a></li>
</ul>
</nav>
<a href="http://www.ohloh.net/p/appreliance?ref=gitpages" title="View the project details on ohloh"><img alt="" src="http://www.ohloh.net/p/appreliance/widgets/project_partner_badge.gif" /></a>
                   </div>
                   <div class="span10">
                       {{ content }}
                   </div>
               </div>
             </div>
         </div>
      </div>
    </div>
  </body>
</html>
